<header>
	<nav id="navbar" class="navbar navbar-expand-lg bg-black navbar-dark navbar-custom fixed-top vh-25">
		<div class="container px-5">
			<a class="navbar-brand" href="{{ path("home.index") }}"></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ms-auto gap-5 mx-5">
					<li class="nav-item">
						<a class="nav-link" href="{{ path('products_type', {type: 'plugin'}) }}">OUR PLUGINS</a>
					</li>
					<li>
						<a class="nav-link" href="{{ path('products_type', {type: 'plugin'}) }}">OUR SAMPLES</a>
					</li>
				</ul>
				<form class="d-flex mx-5">
					<input class="form-control me-sm-2" type="search" placeholder="Search">
					<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
				</form>
				<ul class="navbar-nav ms-auto">

					{% if app.user %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path("logout.index") }}">Log Out</a>
						</li>
						<li>
							<a class="nav-link" href="{{ path("user_index") }}">Profil</a>
						</li>
					{% else %}

						<li class="nav-item">
							<a class="nav-link" href="{{ path("register.index") }}">Sign Up</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path("login.index") }}">Log In</a>
						</li>
					{% endif %}

				</ul>
			</div>
		</div>
	</nav>
</header>
