{% extends 'base.html.twig' %}

{% block title %}
	SoundPlugs -
	{{ product.title }}
{% endblock %}


{% block body %}
	<div class="container">
		<section class="py-5 d-flex gap-4">
			<img class="w-75 object-fit-cover" src="{{ product.image }}" alt="">
			<div class="d-flex flex-column">
				<h1 class="text-center text-capitalize mb-4">{{ product.title }}</h1>
				<div class="">
					<div class="d-flex justify-content-center gap-3	">
						<span class="badge bg-primary">{{product.category}}</span>
						<span class="badge bg-primary">{{product.genre}}</span>
						<span class="badge rounded-pill bg-info">{{product.price}}
							€</span>
					</div>
				</div>
				<p class="p-2 my-4">{{product.description|striptags}}</p>
				<a class="btn btn-primary" href="{{ path("cart_add", {id : product.id}) }}">Ajouter au panier</a>
			</div>
		</section>

	</div>
{% endblock %}
