{% extends 'base.html.twig' %}

{% block title %}SoundPlugs - Home
{% endblock %}


{% block body %}
	<section class="h-50">
		<div id="jumbotron-override" class="mb-3"></div>
		<a class="btn btn-primary btn-lg d-block container w-25" href="{{ path('products_index') }}" role="button">Learn more</a>
	</section>

	<section class="mt-5">
		<div class="row bg-white px-5">
			<div class="col-8">
				<a href="{{ path('products_type', {type: 'plugin'}) }}">
					<img class="object-fit-cover w-100 h-75" src="{{ asset("assets/images/plugins.jpg")}}" alt="">
				</a>
			</div>
			<div class="col-4">
				<h3 class="mt-2">Explorez nos Plug-ins</h3>
				<p>"Transformez votre son avec nos plugins audio de qualité supérieure. Parfaits pour tous les niveaux, ils élèvent votre création musicale à de nouveaux sommets. Découvrez l'excellence sonore dès aujourd'hui."</p>
			</div>
		</div>
		<div class="row bg-white px-5">
			<div class="col-4">
				<h3 class="mt-2">Explorez nos Samples</h3>
				<P>"Élevez votre créativité avec nos samples audio de première qualité. Parfaits pour tous les niveaux, découvrez une diversité inspirante pour enrichir vos productions musicales."</p>
			</div>
			<div class="col-8">
				<a href="{{ path('products_type', {type: 'sample'}) }}">
					<img class="object-fit-cover w-100 h-75" src="{{ asset("assets/images/samples.jpg")}}" alt="">
				</a>
			</div>
		</div>
	</section>
{% endblock %}
