{% extends 'base.html.twig' %}

{% block title %}
	SoundPlugs - Orders
{% endblock %}

{% block body %}
	<section class="mt-5">
		<div class="container mt-5">

			<div class="mt-5">
				{% for order in orders %}
					<a href="{{ path('user_order', {'id' : order.id}) }}">
						<div class="card mb-2">
							<div class="card-header">
								<p>commande
									{{ order.reference }}</p>
							</div>
							<div class="card-body">
							<p>Crée le {{order.createdAt|date('d-m-Y')}}</p>
								<p>{{ order.products|length }}
									produit(s)</p>
								<p>Total : {{order.price}}
									€</p>
							</div>
						</div>
					</a>
				{% endfor %}
			</div>


		</div>
	</section>
{% endblock %}
